In [97]:
import pandas as pd
import re

In [166]:
# Files to load
csnsus_csv = "MEDIAN_VALUE_(DOLLARS)/ACSDT5Y2015.B25077_data_with_overlays_2022-05-26T163008.csv"

# Read the CSV into a DataFrame
csnsus_df = pd.read_csv(csnsus_csv)
csnsus_df

,B25077_001E,B25077_001M,GEO_ID,NAME
0,Estimate!!Median value (dollars),Margin of Error!!Median value (dollars),id,Geographic Area Name
1,1098000,58982,1400000US06001400100,"Census Tract 4001, Alameda County, California"
2,895300,40466,1400000US06001400200,"Census Tract 4002, Alameda County, California"
3,856600,66477,1400000US06001400300,"Census Tract 4003, Alameda County, California"
4,817700,47958,1400000US06001400400,"Census Tract 4004, Alameda County, California"
...,...,...,...,...
8054,198800,32632,1400000US06115040901,"Census Tract 409.01, Yuba County, California"
8055,-,**,1400000US06115040902,"Census Tract 409.02, Yuba County, California"
8056,278400,27712,1400000US06115041000,"Census Tract 410, Yuba County, California"
8057,167600,15666,1400000US06115041100,"Census Tract 411, Yuba County, California"
8058,366900,12315,8600000US90031,ZCTA5 90031

In [167]:
csnsus_df = csnsus_df.drop(labels=0, axis=0)
csnsus_df

,B25077_001E,B25077_001M,GEO_ID,NAME
1,1098000,58982,1400000US06001400100,"Census Tract 4001, Alameda County, California"
2,895300,40466,1400000US06001400200,"Census Tract 4002, Alameda County, California"
3,856600,66477,1400000US06001400300,"Census Tract 4003, Alameda County, California"
4,817700,47958,1400000US06001400400,"Census Tract 4004, Alameda County, California"
5,611300,89714,1400000US06001400500,"Census Tract 4005, Alameda County, California"
...,...,...,...,...
8054,198800,32632,1400000US06115040901,"Census Tract 409.01, Yuba County, California"
8055,-,**,1400000US06115040902,"Census Tract 409.02, Yuba County, California"
8056,278400,27712,1400000US06115041000,"Census Tract 410, Yuba County, California"
8057,167600,15666,1400000US06115041100,"Census Tract 411, Yuba County, California"
8058,366900,12315,8600000US90031,ZCTA5 90031

In [168]:
csnsus_df.dtypes

B25077_001E    object
B25077_001M    object
GEO_ID         object
NAME           object
dtype: object

In [169]:
for column in csnsus_df.columns:
    print(f"Column {column}: {csnsus_df[column].isnull().sum()} null values and type: {type(column)}")

Column B25077_001E: 47 null values and type: <class 'str'>
Column B25077_001M: 47 null values and type: <class 'str'>
Column GEO_ID: 0 null values and type: <class 'str'>
Column NAME: 0 null values and type: <class 'str'>

In [170]:
censustract_df = csnsus_df['GEO_ID'].str.split("1400000US0*", expand=True)
censustract_df

                   0           1
1                     6001400100
2                     6001400200
3                     6001400300
4                     6001400400
5                     6001400500
...              ...         ...
8054                  6115040901
8055                  6115040902
8056                  6115041000
8057                  6115041100
8058  8600000US90031        None

[8058 rows x 2 columns]

In [171]:
csnsus_df['GEO_ID']= censustract_df[1]
csnsus_df.head()

,B25077_001E,B25077_001M,GEO_ID,NAME
1,1098000,58982,6001400100,"Census Tract 4001, Alameda County, California"
2,895300,40466,6001400200,"Census Tract 4002, Alameda County, California"
3,856600,66477,6001400300,"Census Tract 4003, Alameda County, California"
4,817700,47958,6001400400,"Census Tract 4004, Alameda County, California"
5,611300,89714,6001400500,"Census Tract 4005, Alameda County, California"

In [172]:
csnsus_df['GEO_ID'].unique()

array(['6001400100', '6001400200', '6001400300', ..., '6115041000',
       '6115041100', None], dtype=object)

In [173]:
csnsus_df.isna().sum()

B25077_001E    47
B25077_001M    47
GEO_ID          1
NAME            0
dtype: int64

In [174]:
clean_csnsus_df = csnsus_df.dropna(how='any')
clean_csnsus_df.count()

B25077_001E    8010
B25077_001M    8010
GEO_ID         8010
NAME           8010
dtype: int64

In [175]:
clean_csnsus_df.isna().sum()

B25077_001E    0
B25077_001M    0
GEO_ID         0
NAME           0
dtype: int64

In [182]:
#drop rows that contain specific 'value' in 'column_name'
clean_csnsus_df = clean_csnsus_df[clean_csnsus_df.B25077_001E != "-"]
print(clean_csnsus_df.shape)
clean_csnsus_df.head()

(7819, 4)

,B25077_001E,B25077_001M,GEO_ID,NAME
1,1098000,58982,6001400100,"Census Tract 4001, Alameda County, California"
2,895300,40466,6001400200,"Census Tract 4002, Alameda County, California"
3,856600,66477,6001400300,"Census Tract 4003, Alameda County, California"
4,817700,47958,6001400400,"Census Tract 4004, Alameda County, California"
5,611300,89714,6001400500,"Census Tract 4005, Alameda County, California"

In [186]:
clean_csnsus_df = clean_csnsus_df.rename(columns={"B25077_001E": "Estimate_Median_value_(dollars)" ,
                                      "B25077_001M": "Margin_of_Error_Median_value_(dollars)",
                                      "GEO_ID": "CensusTract","NAME": "Geographic_Area_Name"})
clean_csnsus_df

,Estimate_Median_value_(dollars),Margin_of_Error_Median_value_(dollars),CensusTract,Geographic_Area_Name
1,1098000,58982,6001400100,"Census Tract 4001, Alameda County, California"
2,895300,40466,6001400200,"Census Tract 4002, Alameda County, California"
3,856600,66477,6001400300,"Census Tract 4003, Alameda County, California"
4,817700,47958,6001400400,"Census Tract 4004, Alameda County, California"
5,611300,89714,6001400500,"Census Tract 4005, Alameda County, California"
...,...,...,...,...
8052,195000,12129,6115040700,"Census Tract 407, Yuba County, California"
8053,180100,22291,6115040800,"Census Tract 408, Yuba County, California"
8054,198800,32632,6115040901,"Census Tract 409.01, Yuba County, California"
8056,278400,27712,6115041000,"Census Tract 410, Yuba County, California"
8057,167600,15666,6115041100,"Census Tract 411, Yuba County, California"

In [187]:
clean_csnsus_df.to_csv("clean_csnsus.csv")